[submodule "MQ2Nav"]
	path = MQ2Nav
	url = https://github.com/brainiac/MQ2Nav.git
	branch = develop
[submodule "MQ2Camera"]
	path = MQ2Camera
	url = https://github.com/brainiac/MQ2Camera.git
	branch = master
[submodule "MQ2Py"]
	path = MQ2Py
	url = https://github.com/brainiac/MQ2Py.git
	branch = master
